$extralight: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$extrabold: 800;
$black: 900;

@include font("FinlandRounded","FinlandRounded-Thin", 100, normal);
@include font("FinlandRounded","FinlandRounded-ThinItalic", 100, italic);
@include font("FinlandRounded","FinlandRounded-Regular", 400, normal);
@include font("FinlandRounded","FinlandRounded-Italic", 400, italic);
